<h1><%= @cocktail.name.upcase %></h1>
<p>All of the details of this lovely cocktail</p>

<% @doses.each do |dose| %>
<p>DOSE - <%= dose.description %></p>
<p>INGREDIENT - <%= dose.ingredient.name %> </p>
 <%= link_to "Delete", dose_path(dose),
          method: :delete,
          data: { confirm: "Are you sure?" } %>
<% end %>

<%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>

<p>ADD A NEW DOSE</p>
<%= render 'dose_form' %>


<%= link_to 'Back to all cocktails', cocktails_path %>