
<div class="wrapper">
  <div class="my-container">
    <h1 class="cocktail-title"><%= @cocktail.name.upcase %></h1>
    <%= cl_image_tag @cocktail.photo, height: 200, width: 800, crop: :fill %>
    <br>
      <div class="dose-container">
        <h3>How to make this cocktail...</h3>
         <%= link_to "Delete cocktail?", cocktail_path(@cocktail),
          method: :delete,
          data: { confirm: "Are you sure?" } %>


          <% @doses.each do |dose| %>
          <p class="dose-text"><%= "#{dose.description} #{dose.ingredient.name}" %></p>
          <% end %>
      </div>


          <div class="dose-form">
            <h4>Add an ingredient and description of dose</h4>
            <%= render 'dose_form' %>
          </div>




  </div>
</div>
